h1 {
    color: gold;
    text-align: center;
font-size: 100px;
}
body {
    background-image: url("http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/warriors/images/season-finale-2015-bg-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
p  {
    color: gold;
    text-align center;
    font-size: 50px;
}
