

p  {
    color: GoldenRod;
    text-align center;
    font-size: 50px;
}

a:link, a:visited {
    color: GoldenRod;
    padding: 14px 25px;
    text-align: center;	
    text-decoration: none;
}
a:hover, a:active {
    background-color: none;
}
div {
  background-color: HoneyDew;
  border: 10px solid sienna;
  
  
  
}
# side {
    height:; 30em;
    width: 30em;
        
    
}
